{% extends 'access/base_email.html.twig' %}

{% block content %}
    <div style="font-size:20px;font-weight: bolder; text-align: center; margin-bottom:30px"> 
        Nueva consulta de contacto!
    </div>

    <div style="text-align: center;margin-bottom:30px">
        <span style="font-weight: bolder;">{{contact.email}}</span>, 
        Ha realizado una consulta de tipo contacto. 
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Con el asunto:
    </div>
    <div style="text-align: center;margin-bottom:20px">
        {{contact.description}}
    </div>
    {# <div style="text-align: center;margin-bottom:20px">
        Podrás visualizar los movimientos a través de tu panel de administración.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Deseamos que estés disfrutando mucho esta aventura y que sea muy rentable para ti.
    </div> #}
{% endblock %}