{% extends 'access/base_email.html.twig' %}

{% block content %}
    <div style="font-size:20px;font-weight: bolder; text-align: center; margin-bottom:30px"> 
        Has solicitado una retirada de saldo.
    </div>

    {% if  user.antiPhishingPassword|length > 0 %}
		<div style="position:relative;margin:auto;margin-bottom:50px;background: #3f768a;color: #FFF;padding: 10px;width: 300px;text-align: center;">
			<span style="font-weight: bold;">Clave anti-pishing:</span> <br>{{user.antiPhishingPassword}}
		</div>
	{% endif %}
    
    <div style="margin-bottom:30px; text-align: center;">
        <span style="font-weight: bolder;">Hola</span> {{user.fullName}},
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Acabas de solicitar retirar <b>{{whitdrawal.btc}} BTC</b>, al Wallet <b>{{wallet}}</b> desde tu cuenta de Karakorum.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Esta transacción ha sido aprobada por nuestra plataforma y ya hemos realizado el envío de los fondos. Esta transferencia ahora queda pendiente de ser confirmada por parte de la red Blockchain. Una vez sea confirmada verás reflejados los fondos en la billetera que nos has especificado.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Para revisar los detalles de esta transacción, puedes entrar en esta dirección
        <a href="{{front_url}}/movements-depositos?modal=show&id={{whitdrawal.id}}">{{front_url}}/movements-depositos?modal=show&id={{whitdrawal.id}}</a> y comprobar en qué estado se encuentra.
    </div>

    <div style="text-align: center;margin-bottom:20px">
        La velocidad de confirmación depende de la red Blockchain que podría producir demoras en las confirmaciones. Nuestro compromiso es que disfrutes de tus BTC lo antes posible, ajustándonos a las comisiones más bajas de la red.
    </div>    
    <div style="text-align: center;margin-bottom:20px">
        Si tienes cualquier duda puedes ponerte en contacto con nosotros desde tu panel de administración, en el apartado de soporte.
    </div>

    <div style="text-align: center; margin-top:40px; margin-bottom:30px">
        <span style="font-weight: bolder;">Nota:</span>
        Sí <b>TÚ NO HAS SOLICITADO</b> este retiro, es muy probable que tu cuenta haya sido comprometida y te recomendamos que <b>INMEDIATAMENTE</b> sigas los siguientes pasos:
    </div>
    <div style="text-align: center; margin-bottom:20px">
        <b>1. BLOQUEA TU CUENTA:</b> Pulsa el siguiente enlace <a href="{{front_url}}/locked-account?hash={{hash}}">{{front_url}}/locked-account?hash={{hash}}</a> para que tu cuenta quede bloqueada (realiza esta acción si estás seguro de querer bloquear tu cuenta, porque una vez bloqueada sólo podrás volver a habilitarla solicitándolo por escrito a soporte)
    </div>
    <div style="text-align: center; margin-bottom:20px">
        2. Escribe un correo a info@karakorumcorp.com desde el mismo email que tienes dado de alta en tu cuenta solicitando que se desbloquee la cuenta. Deberás enviar una fotografía tuya sujetando en una mano tu Documento de Identidad y en la otra un folio donde aparezca escrito a mano la fecha del día que lo solicites, Karakorum Corp y desbloquear mi cuenta.
    </div>
{% endblock %}