{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title (user) %}
{% block page_actions '<button class="btn btn-primary action-save" onclick="mySubmit()" type="submit">Depositar</button>' %}
{% block page_content %}
    <form method="post" action="{{url}}" class="form-signin text-center">
        <div class="form-group field-text">
            <label for="amount" class="form-control-label required">Monto </label>
            <div class="form-widget">
                <input type="number" name="amount" id="amount" class="form-control" min=1 max=100000 required autofocus>
            </div>
        </div>
        <div class="form-group field-password">
            <label for="date" class="form-control-label required">Fecha </label>
            <div class="form-widget">
                <input type="datetime-local" name="date" id="date" class="form-control" required>
            </div>
        </div>
        <input type="hidden" name="user_id" value="{{user.id}}">
        <input type="submit" value="" id="btn-submit" style="display: none;">
    </form>
    <script>
        function mySubmit() {
            document.getElementById('btn-submit').click()
        }
    </script>
{% endblock %}