{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashboard' %}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                                <i class="fe-user font-22 avatar-title text-info"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{usersAct}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Total usuarios activos</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                                <i class="fe-user-check font-22 avatar-title text-info"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{usersActInv}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Usuarios con inversión</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                                <i class="fe-user font-22 avatar-title text-info"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="mt-1">
                                    <span data-plugin="counterup">
                                        {{users24}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Usuarios en 24h</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>

        <div class="row">
            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                                <i class="fe-dollar-sign font-22 avatar-title text-success"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{totalD|format_currency('USD')}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Total Depósitos</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                                <i class="fe-dollar-sign font-22 avatar-title text-success"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{totalW|format_currency('USD')}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Total Retiros</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                                <i class="fe-dollar-sign font-22 avatar-title text-success"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{totalDW|format_currency('USD')}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Total Balance</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>

        <div class="row">
             <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                <i class="fe-dollar-sign font-22 avatar-title text-warning"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{totalB|format_currency('USD')}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Total Balance de los Usuarios</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
            
            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                <i class="fe-dollar-sign font-22 avatar-title text-warning"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{totalDispW|format_currency('USD')}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Disponible para retiros</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-4 col-xl-4">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                <i class="fe-dollar-sign font-22 avatar-title text-warning"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-right">
                                <h3 class="text-dark mt-1">
                                    <span data-plugin="counterup">
                                        {{totalDepoL|format_currency('USD')}}
                                    </span>
                                </h3>
                                <p class="mb-1 text-truncate">Depósitos liberados</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>
    </div>
{% endblock %}