@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/icomoon.eot?gapzjx');
  src:  url('icomoon/icomoon.eot?gapzjx#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?gapzjx') format('truetype'),
    url('icomoon/icomoon.woff?gapzjx') format('woff'),
    url('icomoon/icomoon.svg?gapzjx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-k-k"], [class*=" icon-k-k"] {
  /* use !important to prevent issues with browser extensions that change icomoon */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-k-kisspng-computer-icons:before {
  content: "\e900";
}
