body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.link-decoration {
  color: rgb(74, 133, 251);
}
.container-logo-modal {
  margin-top: 20px;
  margin-bottom: 40px;
}
.center-info-modal {
  margin-top: 5px;
}
/* .container-modal.confirming-modal {
  width: 600px;
} */

.container-modal {
  /* width: 400px; */
  min-height: 50vh;
  padding: 20px;
}
@media (max-width: 500px) {
  /* .container-modal, .container-modal.confirming-modal {
    width: 300px;
  } */
}
.w-100 {
  width: 100%;
  min-width: 100% !important;
}
.wallet-code-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.2em; */
}
.btn-login {
  background-color: #ffff;
}
.wallet-code-copy .copy-wallet {
  background: #ddd;
  padding: 2px;
  cursor: pointer;
}
.center-info-modal {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}
.word-wrap {
  word-wrap: break-word !important;
}
.header-trx {
  margin-top: -45px;
  margin-bottom: 20px;
}
.container-graphics {
  padding: 20px;
  height: 65vh;
}
.white-color {
  color: #fff;
}
.text-highlighted {
  color: #3f768a !important;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.tooltip-label {
  background: linear-gradient(
    130deg,
    rgba(29, 43, 69, 1) 0%,
    rgba(63, 118, 138, 1) 60%,
    rgba(196, 254, 255, 1) 100%
  );
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
  height: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}
.tooltip-label::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  height: 30px;
}
.heigth-slider {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.button-buy-modal,
.button-k-primary {
  height: 45px;
  width: 100%;
  background: linear-gradient(
    130deg,
    rgba(29, 43, 69, 1) 0%,
    rgba(63, 118, 138, 1) 60%,
    rgba(196, 254, 255, 1) 100%
  );
  color: #fff;
  text-align: center;
  border: 1px solid #c4feff;
  font-weight: 700;
  cursor: pointer;
}
.button-buy-modal {
  margin-top: 35px;
}
.button-modal-sell {
  height: 45px;
  width: 100%;
  background: linear-gradient(
    130deg,
    rgba(29, 43, 69, 1) 0%,
    rgba(63, 118, 138, 1) 60%,
    rgba(196, 254, 255, 1) 100%
  );
  color: #fff;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #c4feff;
  font-weight: 700;
  cursor: pointer;
}
.line-gradient {
  background: linear-gradient(
    135deg,
    rgba(63, 118, 138, 1) 0%,
    rgba(8, 201, 235, 1) 67%,
    rgba(63, 118, 138, 1) 100%
  ) !important;
}
.background-primary {
  background-color: #3f768a;
}
.bg-white {
  background-color: #fff !important;
}
p {
  margin-bottom: 0px !important;
}
h4 {
  margin: 0px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gradien-style-buttons {
  background: linear-gradient(
    130deg,
    rgba(29, 43, 69, 1) 0%,
    rgba(63, 118, 138, 1) 60%,
    rgba(196, 254, 255, 1) 100%
  );
  border: none;
}
.grid-table-operations {
  display: grid;
  grid-template-columns: 250px 250px 400px;
}
.grid-table-operations-two {
  display: grid;
  grid-template-columns: 125px 125px;
}
.grid-table-operations-four {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}
.text-label-list {
  font-size: 12px;
  font-weight: 700;
}
.size-text {
  font-size: 11px !important;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
.label-operations {
  font-size: 14px;
  font-weight: 700;
}
.background-table-operations-success {
  height: 45px;
  color: #fff;
  background-color: #0dc6e7;
}
.container-porcentage-operations {
  background-color: #3f768a;
  color: rgb(255, 255, 255);
  width: 45px;
  height: 25px;
  border-radius: 5px;
}
.container-porcentage-operations-faild {
  background-color: #e5007e;
  color: rgb(255, 255, 255);
  width: 45px;
  height: 25px;
  border-radius: 5px;
}
.par_divisas {
  text-align: center;
}
.background-table-operations {
  background: #3f768aab;
  height: 45px;
  color: #fff;
}
.background-table-operations-list {
  border-bottom: 1px solid #3f768a;
}
.icon-list-select {
  font-size: 18px;
  cursor: pointer;
}
.center-text-List {
  color: #000000;
  font-weight: 700 !important;
  font-size: 12px;
  text-align: center;
}
.center {
  display: flex;
  align-items: center;
}
.container-list {
  vertical-align: bottom;
  border-bottom: 1px solid #eff0f6;
  border-top: 0;
  border-bottom-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.grind-list {
  display: grid;
  grid-template-columns: 50px 300px 100px 100px 125px 100px 160px 90px;
  margin-bottom: 10px;
  height: 40px;
}
.text-list {
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.container-show-list {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #5d5d5f6e;
  margin: 0px 0px 0px 0px;
}
.text-list-value {
  font-size: 14px !important;
  font-weight: 500;
}
.default-size-from {
  width: 100% !important;
  max-width: 420px !important;
  min-height: 100vh;
  background-color: #fff;
}
.wrap-chart canvas {
  width: 100% !important;
  min-height: 300px !important;
  max-height: 500px !important;
}
.wrap-chart {
  width: 100%;
  height: 80vh;
  max-height: 760px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 10px;
}
.container-card-performance {
  max-width: 250px;
  height: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.antiphising-container {
  width: 100%;
  border: solid 1px #d9d9d9;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 0px;
  background-color: #fff !important;
}
.title-antiphising {
  width: 100%;
  font-size: 22px;
  font-weight: 800;
  color: #2e3849;
  margin-bottom: 0px;
  text-align: center;
}
.secondary-text-antiphising {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #728096;
  margin-bottom: 0px;
  text-align: center;
}
.link-antiphising {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #2e3849;
  margin-bottom: 0px;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.card-box {
  width: 100%;
  max-width: 250px;
}
.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.col-cont {
  display: flex;
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}
.align-items-end {
  align-items: flex-end;
}
.section-icon-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  color: #738298;
  margin-right: 30px;
}
.opacity:hover {
  opacity: 0.4;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.car-document {
  background: -webkit-linear-gradient(
    33deg,
    #1d2b45 0%,
    #3f768a 100%
  ) !important;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px;
  cursor: pointer;
}
.message {
  width: 100%;
  padding: 20px;
  font-size: 18px;
}
.logo-drawer {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  font-size: 20px;
  background-color: #3f768a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.logo-profile {
  height: 110px;
  width: 110px;
  border-radius: 55px;
  font-size: 28px;
  background-color: #3f768a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.logo-letter {
  height: 40px;
  width: 40px;
  background-color: #3f768a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.title-document {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  font-weight: bold;
}
.container-icon {
  font-size: 40px;
  color: #fff;
}

.color-text {
  color: #3f768a !important;
  cursor: pointer;
}

.textErrorLabel {
  font-size: 12px;
  margin-top: 3px;
  color: red;
  font-weight: bold;
}

.width {
  width: 100%;
}

.arrow-left {
  font-size: 20px;
  cursor: pointer;
}

.code_2FA {
  width: 340px !important;
  font-size: 30px !important;
  margin-left: auto !important;
  font-weight: 600;
  text-align: left;
  margin: 0 auto;
  float: none;
  display: block;
  /* background-color: transparent; */
  /* background-image: url(/assets/images/numbers.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 270px auto;
  border: none;
  height: 58px;
  letter-spacing: 28px;
  padding: 0 0 0 49px;
  overflow-x: hidden;
  border: 1px solid #29327f;
  border-radius: 5px;
}

.margin-bottom {
  margin-bottom: 15px;
}
.padding-20 {
  padding: 20px;
}
.container-link-banners {
  height: 75px;
  background-color: #29327f;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  font-size: 18px;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.copy {
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080 !important;
  z-index: 99999999999 !important;
}

.modal-query {
  width: 500px;
}

.card-performance {
  min-height: 140px;
  width: calc(100% - 20px);
  border-radius: 5px;
  margin: 10px !important;
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
  /* padding: 10px; */
}
.chart-1-card-performance {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-performance-total,
.info-performance {
  background: rgb(74, 133, 251);
  background: linear-gradient(
    180deg,
    rgba(30, 54, 91, 1) 25%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 2px 2px 1px #0000001c;
}
.text-btn {
  color: #fff;
  font-size: 16px;
}
.opacity-list-bono {
  background-color: #ffff;
  opacity: 0.15;
}
.key-level {
  position: absolute;
  /* left: -20px; */
  /* width: 100%; */
  right: 55%;
}
.card-performance-shopping {
  background: rgb(196, 254, 255);
  background: linear-gradient(
    180deg,
    rgba(229, 0, 126, 1) 25%,
    rgba(94, 0, 52, 1) 100%
  );
  box-shadow: 2px 2px 2px 1px#0000001c;
}
.card-performance-referido {
  background: rgb(63, 118, 138);
  background: linear-gradient(
    180deg,
    rgba(63, 118, 138, 1) 25%,
    rgba(24, 55, 66, 1) 100%
  );
  box-shadow: 2px 2px 2px 1px #0000001c;
}
.icon-list-bono {
  position: absolute;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px;
  right: 400px; */
}
.card-font-size {
  width: 100%;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  padding-left: 10px;
  margin-top: 10px;
}

.card-text-size {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.table-show {
  max-height: 650px;
  overflow-y: scroll;
}
.card-container-value {
  height: 50%;
  align-items: flex-end;
  display: flex;
  /* padding-bottom: 59px; */
  padding-left: 20px;
  padding-bottom: 10px;
}

.card-container-value-performance {
  height: 35%;
  /* justify-content: flex-end; */
  align-items: flex-end;
  display: flex;
  /* padding-bottom: 59px; */
  padding-left: 20px;
  padding-bottom: 10px;
}

.show-table {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  color: #1d2b45;
  font-weight: 500;
}
@media screen and (max-width: 1080px) {
  .wrap-chart {
    grid-template-columns: 1fr;
    height: 100%;
    max-height: 100%;
  }
  .container-card-performance {
    flex-direction: row;
    max-width: 100%;
  }
  .card-font-size {
    font-size: 12px;
    padding: 10px;
  }
  .card-text-size {
    font-size: 14px;
  }
  .card-performance {
    height: 125px;
  }
}
/* @media screen and (min-width: 1400px) {
  .card-performance {
    height: 180px;
  }
} */
.show-logo {
  display: none;
}
@media only screen and (max-width: 768px) {
  .card-performance {
    margin-bottom: 20px !important;
    margin-top: 15px;
  }
  .wrap-chart {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
  .container-card-performance {
    flex-direction: row;
    max-width: 100%;
  }
  .card-font-size {
    padding: 10px;
  }
  .chart-1-card-performance {
    /* display: none; */
  }
  .container-graphics {
    padding: 20px;
    height: 25vh;
  }
}

@media only screen and (max-width: 620px) {
  .container-card-performance {
    flex-direction: column;
    max-width: 100%;
  }
  .card-performance {
    min-height: 180px;
  }
  .wrap-chart canvas {
    width: 100% !important;
    min-height: auto !important;
  }
  .background-table-operations-list {
    width: 1000px;
  }
  .width-result-list-tab {
    width: 1000px;
  }
  .hidden {
    display: none !important;
  }
  .show-logo {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  .modal-query {
    width: 330px;
  }
  .code_2FA {
    width: 300px !important;
  }
  .card-performance {
    min-height: 150px;
  }
  .code_2FA {
    font-size: 20px !important;
    margin-left: auto !important;
    font-weight: 600;
    text-align: left;
    margin: 0 auto;
    float: none;
    display: block;
    /* background-color: transparent; */
    /* background-image: url(/assets/images/numbers.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 270px auto;
    border: none;
    height: 58px;
    letter-spacing: 28px;
    padding: 0 0 0 49px;
    overflow-x: hidden;
    border: 1px solid #29327f;
    border-radius: 5px;
  }
}

.content_item-table {
  display: grid;
  grid-gap: 15px;
}

.content_item-table .item-table {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  border-bottom: 0.5px solid #f1f1f1;
  padding-bottom: 5px;
}

.alert.alert-success {
  background: rgb(63, 118, 138) !important;
  background: linear-gradient(
    180deg,
    rgba(63, 118, 138, 1) 25%,
    rgba(24, 55, 66, 1) 100%
  ) !important;
  box-shadow: 2px 2px 2px 1px #0000001c !important;
  border-color: #1d3f4b !important;
}

.content_item-table .item-table div:first-child {
  font-weight: bold;
}

.container-breakdown .table th {
  font-weight: bold;
}

.container-breakdown .table th,
.table td,
.text-wrap table th {
  font-size: 0.64rem;
}

.container-breakdown .table tfoot tr:first-child {
  border-top: 0.5px solid #333;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.table_btns {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  flex-direction: row;
  padding-right: 12px !important;
  justify-content: center;
}

.table_btns button {
  width: 100%;
}

.btn-karakorum {
  width: 100%;
  max-width: 200px;
  height: 40px;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    130deg,
    rgba(29, 43, 69, 1) 0%,
    rgba(63, 118, 138, 1) 60%,
    rgba(196, 254, 255, 1) 100%
  );
  white-space: nowrap;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  color: #fff;
}

.btn-karakorum:hover {
  background: linear-gradient(
    206deg,
    rgba(29, 43, 69, 1) 0%,
    rgb(40 110 136) 60%,
    rgb(128 239 241) 100%
  );
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 26%);
  color: #fff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.customOption {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
}

.customOption:hover {
  background-color: #c7c7c7;
}

.swal2-styled.swal2-confirm {
  display: inline-block;
  background-color: rgb(48, 133, 214);
  height: 45px;
  outline: 0px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    130deg,
    rgb(29, 43, 69) 0%,
    rgb(63, 118, 138) 60%,
    rgb(196, 254, 255) 100%
  ) !important;
  white-space: nowrap;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px 0px;
}

.swal2-icon.swal2-warning {
  border-color: #e5007e !important;
  color: #e5007e !important;
}

.swal2-styled.swal2-cancel {
  background: linear-gradient(180deg, #e5007e 25%, #5e0034) !important;
  box-shadow: 2px 2px 2px 1px#0000001c !important;
}

.alert-danger {
  background: linear-gradient(180deg, #e5007e 25%, #5e0034) !important;
  box-shadow: 2px 2px 2px 1px#0000001c !important;
}

.btn_back {
  padding: 0;
  background-color: transparent;
  border: 0;
  text-shadow: none;
  -webkit-appearance: none;

  float: left;
  font-size: 1.40625rem;
  font-weight: 700;
  line-height: 1;
  color: #495057;
  opacity: 0.5;
}

.badge-danger {
  background-color: #e5007e !important;
}

.badge-success {
  background-color: #3f768a !important;
}

/* Tour */
.mask {
  color: #021d1d;
}
.mask > rect {
  fill: rgba(0, 0, 0, 0.6);
}
.helper {
  --reactour-accent: #5cb7b7;
  line-height: 1.3;
  color: #2d2323;
  max-width: none !important;
}
