
<div style="max-width:1024px; margin: 0 auto">
<div style="margin-bottom:50px; background-image:url({{absolute_url('/images/email_header1.png')}}),url({{absolute_url('/images/email_header.png')}}) ;width:100%;padding-top:25%; background-position:center; background-size:20% auto, 100% auto; background-repeat:no-repeat";>
</div>

	<div style="width:75%; margin:0 auto; margin-bottom:50px; color:#16293a"> 
		{% block content %}
		{% endblock %}
		<div style="text-align:center">
			<div>Atentamente</div> 
			<div style="font-weight:bolder">El equipo de karakorum</div> 
		</div>
	</div>

<div style="height:250px; background-image:url({{absolute_url('/images/email_footer.png')}}); background-position: center;background-size: cover">
	<div style="width:200px; padding-top:50px; padding-bottom: 50px; position: relative; margin: auto;">
	<div style="
    display: block;
    margin: 0 auto;
	width: 56px;
	height: 56px;
	margin-bottom:10px;
	background-image:url({{absolute_url('/images/karakorum.png')}});
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
"></div>
	<div style="
    display: block;
    margin: 0 auto;
    width: 100px;
">
	
		{# <a href=""><img src="{{absolute_url('/images/fb_icon.png')}}" alt=""></a> #}
		<a href="https://www.youtube.com/channel/UCK3yUo6Zhhdahlk5dlYb7sg" target="_blank" style="text-decoration: none;">
		<div style="
		display: inline-block;
		margin: 0 auto;
		width: 30px;
		height: 30px;
		background-image:url({{absolute_url('/images/youtube.png')}});
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
	"></div>
		</a>
		<a href="https://t.me/karakorumcorp" target="_blank" style="text-decoration: none;">
				<div style="
		display: inline-block;
		margin: 0 auto;
		width: 30px;
		height: 30px;
		background-image:url({{absolute_url('/images/telegram.png')}});
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
	"></div>
		</a>
		<a href="https://www.instagram.com/karakorumcorp" target="_blank" style="text-decoration: none;">
						<div style="
		display: inline-block;
		margin: 0 auto;
		width: 30px;
		height: 30px;
		background-image:url({{absolute_url('/images/instagram.png')}});
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
	"></div>
		</a>
		</div>
	</div>

	<div style="background-color: #ececec; text-align:center; height: 50px; padding-top:25px">
		COPIRYGHT - 2021 KARAKORUMCORP.COM - TODOS LOS DERECHOS RESERVADOS 
	</div>
</div>

